@charset "UTF-8";

.verification-container{
	display:flex;
	flex-direction: column;
	margin: 0 auto;
	width: 60%;
	 
	& > .verification-content{
		justify-content:center;
		display: flex;
		text-align: center;
		align-items: center;
		margin: 5%;
		font-weight: 500;
	
	}
	& > button{
		width: 149px;
		height: 61px;
		background-color: #7B61FF;
		color: #fff;
		border-radius: 15px;
		border : 0;
		font-size: 1.5rem;
		margin: auto;
		font-weight: 700;
		
		
	}
}

.title{
	display: flex;
	font-size: 2.25rem;
	color: #5A6ACF;
	font-weight: bold;
	margin: 10px 0;
	flex-direction: column;
}

/* 모달 배경 */
.modal {
  display: none; /* 기본 비활성 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* 모달 내부 박스 */
.modal-content {
  background-color: #fff;
  margin: 12% auto;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  text-align: center;
}

/* 닫기 버튼 */
.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

/* 버튼 */
.btn {
  background-color: #5275C1;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}



.btn-green {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.result {
  margin-top: 15px;
  font-weight: bold;
}

.copy-btn {
  margin-left: 8px;
  background-color: #6A52E8;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}