@charset "UTF-8";

/* 반려 모달 */

.reject-modal-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.reject-modalcontent-area {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    
    width: 600px;
    height: 370px; 
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

.reject-modal-title-area {
    padding-bottom: 20px; 
    border-bottom: 1px solid #eeeeee;
}

.reject-modal-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.reject-modal-input-area {
    flex: 1;
    display: flex;
    padding-bottom: 20px;
}

.reject-modal-input {
	resize: none;
    width: 100%;
    height: 100%; 
    padding: 10px;
    border: 1px solid #eee; 
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.95rem;
    font-family: inherit;
}

.reject-modal-input:focus {
	outline: none;
	
}

.modal-btn-area-one, 
.modal-btn-area-two {
    text-align: right; 
    flex-shrink: 0;
}

.reject-modal-close-btn,
.reject-modal-next-btn,
.reject-modal-back-btn,
.reject-modal-save-btn {
	cursor: pointer;
    padding: 10px 20px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 15px;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-size: 1em;
}

.reject-modal-close-btn,
.reject-modal-back-btn { 
    background-color: transparent; 
    color: #777; 
}

.reject-modal-back-btn:hover {
	color: #333;
}

.reject-modal-close-btn:hover {
    color: #333;
}

.reject-modal-next-btn,
.reject-modal-save-btn { 
    background-color: #4285f4; 
    color: white;
}

.reject-modal-next-btn:hover {
    background-color: #3367d6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.reject-modal-save-btn:hover {
	background-color: #3367d6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
