@charset "UTF-8";

#categoryModal {
    display: none; 
    position: fixed; 
    z-index: 2000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px); 
    
    display: flex; 
    justify-content: center;
    align-items: center;
}

#modalContentWrapper {
    width: 870px; 
    height: 600px; 
    max-width: 90vw; 
    max-height: 90vh;
    
    background-color: #ffffff;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#titleArea {
    padding: 20px 25px; 
    border-bottom: 1px solid #eeeeee; 
    flex-shrink: 0;
}

#modalTitle { 
    margin: 0;
    font-size: 1.5em; 
    font-weight: 600;
    color: #333; 
}

#modalTitle.title-add { 
    color: #00b050; 
}

#modalTitle.title-split, 
#modalTitle.title-merge { 
	color: #4285f4; 
}

#addCategoryArea, 
#divCategoryArea, 
#mergeCategoryArea {
    flex-grow: 1;
    padding: 50px 25px; 
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow-y: auto;
}

#addCategoryArea span,
#divCategoryArea span,
#mergeCategoryArea span {
    font-size: 1.5em; 
    line-height: 1.8;
}

#newCategoryName,
[name="divActiveCategoryList"],
[name="mergeActiveCategoryList"] {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin: 0 8px;
    height: 40px; 
}

[name="divActiveCategoryList"],
[name="mergeActiveCategoryList"] {
    width: 250px;
    min-width: 150px;
}

.targetCategoryName {
    font-weight: bold;
    color: #4285f4;
}

#buttonArea {
    padding: 15px 25px;
    border-top: 1px solid #eeeeee; 
    text-align: right; 
    flex-shrink: 0; /* 높이 고정 */
}

.modal-close-btn,
.modal-save-btn {
    padding: 10px 20px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 15px;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-size: 1em;
}

.modal-close-btn { 
    background-color: transparent; 
    color: #777; 
}

.modal-close-btn:hover {
    color: #333;
}

.modal-save-btn { 
    background-color: #4285f4; 
    color: white;
}

.modal-save-btn:hover {
    background-color: #3367d6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
