.wrapper {
	overflow-x: hidden;
}

.account-menu-box.help {
	border: 0;
	margin-left: 75px;
	flex-grow: 0;
	border: 0;
	box-sizing: border-box;
	
}
.account-top-menu {
	border-bottom: 1px solid #C6C2DE;
	&.point {
	  border-bottom : 3px solid #333;
	   
	}
}

.faq-category {
	margin-top: 20px;
	margin-left: 75px;
	display: flex;
	gap: 20px;
}

.report-title.inqr-page {
	margin-top: 30px;
}

.chat-main.inqr-page {
	min-width: 1350px;
	margin-top: 15px;
	align-items: center;
	height: 80%;
	
}

.content-box.inqr-page {
    height: 95%;
	padding: 0;
	margin: 0;
}
.btn-submit {
	background-color: #7B61FF;
	font-size: 1.5rem;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    
    &:hover {
       transform: scale(1.05)
    }
}
.list-head.inqr {
	margin-top: 15px;
}


.f4.detail span{
    border-radius: 5px;
    color: #fff;
    background-color: #7B61FF;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
       transform: scale(1.05);
    }
}

.list-item.white.inqr {
	padding: 13px 20px; 
}


.f1.inqr {
	flex-basis: 15%;
}
.f2.inqr,
.f3.inqr {
	flex-basis: 20%;
}

.seperate {
	border: 0;
	height: 1px;
	background-color: #11111333;
}
.report-input-tag.answer {
	height: 100px;
}

.require-mark.ctg {
	font-size: 14px;
	padding: 0;
}
.report-input-tag {
	background-color: #fff;
}

.category-item {
	cursor: pointer;
	font-size: 14px;
	border-radius: 5px;
	padding: 5px 8px;
	border: 1px solid #C6C2DE;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
	   transform: scale(1.1);
	}
}
.faq-wrapper {

}
.faq-item {
    margin: 20px 75px;
    min-width: 1100px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    background-color: #f8f9fa;
    font-weight: bold;
    transition: background-color 0.3s;
    
 
}

.faq-title:hover {
    background-color: #e9ecef;
}

.faq-arrow {
    transition: transform 0.3s;
    font-size: 12px;
}

.faq-item.active .faq-arrow {
    transform: rotate(180deg);
}

.faq-cn {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    background-color: #fff;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.faq-item.active .faq-cn {
    max-height: 500px;
    padding: 15px;
    transition: max-height 0.3s ease-in, padding 0.3s ease-in;
}

.current-url {
	background-color: #F4F2FF;
    transform: scale(1.25);
    font-weight: 700;	
}
