body {
  color: #333;
  margin: 0;
}

.choose-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #5275c1;

  & > .choose-message {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 70px;
  }

  & > .choose-box {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 100px;

    & > .role-box {
      width: 620px;
      height: 720px;
      background-color: #fff;
      border-radius: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 3px 3px 3px 3px #333;
      transition: 1s;

      &:hover {
        transform: translateY(-30px);
      }

      & > img {
        background-color: violet;
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
      }

      & > .role {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 20px;
      }

      & > ul > li {
        font-size: 24px;
      }

      & > .go-regist {
        margin-top: 10px;
        font-weight: bold;
        font-size: 36px;
      }
    }
  }
}
.regist-wrapper {
  label {
    font-size: 24px;
    font-weight: bold;
  }
  margin: 0 auto;
  width: 550px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;
  & > .regist-header {
    font-weight: semi-bold;
    font-size: 36px;
    color: #5a6acf;
    position: absolute;
    top: 50px;
  }

  .regist-main {
    margin-top: 140px;

    & > form {
      & > .regist-btn {
        padding: 5px 0;
        width: 100%;
        border-radius: 8px;
        color: #fff;
        font-size: 24px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
      }

      & > .file-input-flex {
        & > #password-confirm {
          margin-top: 5px;
        }
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        & > input {
          width: 550px;
          height: 30px;
          border-radius: 3px;
        }
        & > label {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 5px;
        }
      }
      & > .short {
        & > input {
          width: 400px;
        }
      }

      & > .input-flex {
        & > #password-confirm {
          margin-top: 5px;
        }
        display: flex;
        flex-direction: column;
        margin: 8px 0;
        & > input {
          border: 1px solid #11111333;
          width: 550px;
          height: 30px;
          border-radius: 3px;
        }
        & > label {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 5px;
        }
      }
      & > .short {
        & > input {
          width: 400px;
        }
      }

      & > .right-flex {
        display: flex;
        justify-content: space-between;
        & > .input-flex {
          display: flex;
          flex-direction: column;
          margin: 10px 0;

          & > input {
            border: 1px solid #11111333;
            width: 550px;
            height: 30px;
            border-radius: 3px;
          }

          & > label {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 5px;
          }
        }
        & > .short {
          & > input {
            width: 400px;
          }
        }
        
        & > .regist-side-btn.email-verify,
            .regist-side-btn.email-send {
		    margin-top: 34px; 
		    
		    &.blogger {
		      margin-top: 29px;
		    }
		    &.find {
		      margin-top: 31px;
		    }
		}

        & > .regist-side-btn {
          margin-top: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          width: 100px;
          height: 34px;
          color: #fff;
          font-weight: bold;
          background-color: #5275c1;
        }
      }
    }
  }
}


& .term-check-input {
  display: flex;
  align-items: center;
  gap: 10px;

  & > .label {
    font-size: 24px;
    font-weight: bold;
  }
}

.next-btn {
  padding: 5px 0;
  width: 100%;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  background-color: #5275c1;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
  &:hover {
    transform: scale(1.01);
  }
}

.term-content {
  color: #828282;
}

.campaign-wrapper {
	width: 100vw;
}

.campaign-content-wrapper {
	margin: 50px auto;
	width: fit-content;
	position: relative;
}

.campaign-list-wrapper {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 50px auto;
	
	& input[type="number"] {
	   width: 100px;
	}
}

.campaign-list-content {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(2, 650px);
	grid-template-rows: repeat(4, 140px);
	height: 650px;
}

.empty-space {
	width: 1300px;
	height: 650px;
	
	display:flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	color: #5275C1;
	background-color: #F1F2F7;
}

#create-campaign {
	width: 75px;
	height: 75px;
	border-radius: calc(75px / 2);
	
	position: absolute;
	bottom: 75px;
	right: -120px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #5275C1;
	color: #fff;
	
	& > div {
	   font-size: 2rem;
	}
}

.campaign-tab {
  display: flex;
  font-size: 1rem;
  height: 30px;
  margin: 20px;

  & > label {
    flex-basis: auto;
    padding: 0 10px;
    text-align: center;
    border-bottom: 1px solid #c6c2de;
  }

  & > input[name="campaign-tab"] {
    display: none;

    &:checked + label {
      border-bottom: 3px solid #333;
    }
  }
}

.campaign-title {
  font-size: 2.25rem;
  color: #5a6acf;
  font-weight: bold;
  margin: 0 30px;

  & > div {
    display: inline-block;
  }
}

.campaign-sub-title {
	font-size: 1.5rem;
	color: #5275C1;
}

.enddate {
  color: #aaa;
  font-size: 1rem;
}

.write-content {
	padding: 0 50px 30px 50px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 10px 0;
}

input[name="cmpnTitle"] {
   width: 1100px;
   height: 40px;
}
    
.address {
    & > input[type="text"] {
     width: 540px;
     height: 40px;
     
     &:focus {
        outline: none;
     }
    }
}

input[name="rcrtPrsnn"] {
	width: 50px;
	border-radius: 5px;
}

input[name="offrPrc"] {
    width: 100px;
    border-radius: 5px;
}

.search-container {
	display: flex;
	align-items: center;
	
	& select[name="filter"] {
	   height: 35px;
	   width: 80px;
	       
	   background-color: #fff;
	   border: 1px solid #6D5BD0;
	}
}

.id-search {
  width: 300px;
  height: 30px;
  display: flex;

  justify-content: center;
  align-items: center;
  

  box-sizing: border-box;
  padding: 0 5px;
  margin: 10px 10px 10px auto;
  border: 1px solid #6d5bd0;
  border-radius: 6px;
  background-color: #f4f2ff;

  & > img {
    width: 20px;
    height: 20px;
  }

  & > input {
    width: 100%;
    border: none;
    height: 100%;
    padding: 0;
    border-radius: 6px;
    background-color: #f4f2ff;

    &:focus {
      outline: none;
    }
  }
}

.list-header {
  background-color: #f4f2ff;
  color: #6e6893;

  & > div > img.asc {
    transform: rotate(180deg);
  }
}

.grid-applicant-columns {
  width: 1300px;
  height: 40px;

  display: grid;
  grid-template-columns: 100px auto repeat(5, 150px);
  align-items: center;

  & > div {
    text-align: center;
  }
}

.grid-list-header {
  width: 1300px;
  height: 40px;
  display: grid;
  align-items: center;

  & > div {
    text-align: center;
  }
}

.list-applicant {
  grid-template-columns: 100px auto repeat(5, 150px);
}

.list-adopt {
  grid-template-columns: auto repeat(5, 200px);
}

.applicant {
  height: 60px;
  box-sizing: border-box;

  border-bottom: 1px solid #d9d5ec;

  & .unadopted,
  .abled {
    border: 1px solid #7b61ff;
    background-color: #fff;

    &:hover {
      background-color: #7b61ff;
      color: #fff;
    }
  }

  & .adopted {
    background-color: #7b61ff;
    color: #fff;
  }

  & .disabled {
    background-color: #eee;
    color: #ccc;
    border: 0;
  }
}

.button_50_30 {
  width: 50px;
  height: 30px;

  box-sizing: border-box;
  margin: 0 auto;
  font-size: 0.75rem;
  font-weight: bold;

  border: 0;
  border-radius: 5px;
  vertical-align: middle;
}

.paginator {
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style: none;
  justify-content: center;
  padding: 0;
  & > .active {
    & > a {
      color: #f00;
      font-weight: 600;
    }
  }
}

.button_a_50_30 {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: #333;
}

.button-report {
  border: 1px solid #ff676a;

  &:hover {
    background-color: #ff676a;
    color: #fff;
  }
}

.submit-before {
  background-color: #dfdfdf;
  color: #777777;
}

.submit-approve {
  background-color: #cdffcd;
  color: #007f00;
}

.submit-deny {
  background-color: #ffe0e0;
  color: #d30000;
}

.submit-check {
  background-color: #ffeccc;
  color: #965e00;
}
.validate-require {
  color: #ff0000;
  font-size: 14px;
}
.login-body {
  background-color: #5275c1;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}

.modal-post {
  width: 1250px;
  max-height: 800px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 25px 15px 25px 25px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;

  display: flex;
  flex-direction: column;
  gap: 10px;
  /*justify-content: center;*/
  align-items: center;

  position: relative;

  background-color: #ffffff;

  & > div:nth-child(2) {
    width: 1200px;
    height: 80px;
    color: #5275c1;

    border-bottom: 1px solid #d3d3d3;
    font-size: 2.25rem;
  }

  & > div:nth-child(3) {
    font-size: 1.5rem;
    width: 1200px;
    height: 100px;
  }

  & > .button-list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    & > .post-approve {
      font-size: 1.5rem;
      border: 2px solid #1a62f8;
      background-color: #fff;
      border-radius: 4px;

      &:hover {
        background-color: #1a62f8;
        color: #fff;
      }
    }

    & > .post-deny {
      font-size: 1.5rem;
      border: 2px solid #ff676a;
      background-color: #fff;
      border-radius: 4px;

      &:hover {
        background-color: #ff676a;
        color: #fff;
      }
    }
  }

  & > .close-mark {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border: 0;
    font-size: 1.25rem;
  }
}

.deny-container {
  & > div {
    margin: 10px 0;
  }

  & > textarea {
    width: 1200px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
  }
}

.modal-area {
  width: 600px;
  height: 700px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 0;

  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: 70px auto 30px 50px;
  gap: 10px;
  /*justify-content: center;*/
  position: relative;

  background-color: #ffffff;
  
  & > div {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  & > .grid-item:first-child {
    padding: 0 20px 10px 20px;
    border-bottom: 1px solid #D3D3D3;
    
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
  }
  
  & > .grid-item:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  
  & > .grid-item:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  
  & > .grid-item:nth-child(4) {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }
  
  & > .grid-item:last-child {
    grid-row: 4 / -1;
    grid-column: 1 / -1;
  }
  
  & > .do-city {
    overflow: auto;
    text-align: center;
    
    & > input[name="do-city"] {
        display: none;
        
        &:checked + label {
            background-color: #5275C1;
            color: #fff;
        }
    }
    
    & > label {
        display: inline-block;
    
	    &:hover {
	        background-color: #eee;
	    }
    }
  }
  
  & > .city-gu-gun {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    text-align: center;
  }
  
  input[name="city-gu-gun"] {
        display: none;
    }
  
  & > .modal-button-list {
    padding-right: 10px;
  }
  & > .checked-cities {
	font-size: 1rem;
  }
}

.area {
	& > div {
	   display: flex;
	   align-items: flex-end;
	   gap: 5px;
	   
	   & > button {
	       width: 40px;
            height: 30px;
            background-color: #fff;
            border: 1px solid #5275C1;
            border-radius: 5px;
            
            &:hover {
                color: #fff;
                background-color: #5275C1;
            }
	   }
	}
}

.checked-cities, .area-list {
  font-size: 1rem;
  display: flex;
  gap: 5px;
  padding: 5px 5px;
}

.check-city {
    display: flex;
    gap: 5px;
    background-color: #F1F2F7;
    border-radius: 5px;
    padding: 0 5px;
    height: 25px;
    font-size: 0.85rem;
}

.text-input {
    border-radius: 5px;
    border: 1px solid #9F9C9C;
    resize: none;
    font-size: 1rem;
}

.write-input {
	width: 1100px;
	height: 100px;
	box-sizing: border-box;
	padding: 10px;
}

/*
.add-file-flex {
	& > .add-file {
	  background-color: #e7e9ed;
	  width: 100px;
	  height: 30px;
	  border-radius: 10px;
	  font-size: 1rem;
	  display: inline-block;
	  text-align: center;
	}
	
	& > #add-file {
	   display: none;
	}
}*/

.button_120_50 {
  width: 120px;
  height: 50px;
}

.modal-button-list {
  text-align: right;

  & > button {
    width: 80px;
    height: 45px;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
  }

  & > .modal-close {
    background-color: #fff;
  }

  & > .modal-submit {
    background-color: #1a62f8;
    color: #fff;
  }
  
  & > button[disabled="disabled"] {
    background-color: #eee;
    color: #ccc;
    border: 0;
    }
}

.create-button-list {
	text-align: right;
	
	& > button {
	    width: 80px;
	    height: 45px;
	    font-size: 1rem;
	    border: none;
	    
        background-color: #fff;
	}
	  
	& > .submit-button {
        background-color: #1a62f8;
        color: #fff;
        border-radius: 10px;
    }
    
    & > button[disabled="disabled"] {
        background-color: #eee;
        color: #ccc;
        border: 0;
    }
}

.campaign-block {
  width: 650px;
  height: 140px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 1.5rem;

  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 0 30px 0 20px;

  & > img {
    width: 100px;
    height: 110px;
    border-radius: 10px;
    object-fit: contain;
  }
  
  & > div:nth-child(2) {
    width: 65px;
  }
  
  &:hover {
    cursor: pointer;
  }
}

.font-green {
	color: #23CD0D;
}

.font-brown {
	color: #FBAF35;
}

.font-red {
	color: #FB3535;
}

.font-gray {
	color: #999;
}

.deny-container {
  display: none;
}

.flex-grow-1 {
  flex-grow: 1;
}

.button_200_30 {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	margin: 10px 0;
	
	font-size: 1rem;
	background-color: #fff;
}

.cmpn-title-content {
	& span {
	   font-size: 1.25rem;
	}
}

.button-payment {
	border: 1px solid #7B61FF;
	
	&:hover {
	   background-color: #7B61FF;
	   color: #fff;
	}
}

.button-campaign-modify {
	border: 1px solid #7B61FF;
    
    &:hover {
       background-color: #7B61FF;
       color: #fff;
    }
}

.deny-reason {
	padding: 13px 33px 0 33px;
}

.require-after::after {
	content: "* 필수 입력";
	color: #FB3535;
	font-size: 0.75rem;
}

.input-again::after {
	content: "다시 입력";
	color: #7B61FF;
	font-size: 0.75rem;
}

.deny-history-hide > img {
	transform: rotate(180deg);
}

.deny-history {
	width: inherit;
    padding: 0 20px;
    display: none;
    
    & > .deny {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 10px 0;
        
        & > .deny-reason {
            padding: 0;
        }
        
        & > .deny-submit-text {
            padding: 0px 20px;
        }
        
        & .deny-file {
            display: flex;
            gap: 10px;
        }
    }
}

.user-detail-container {
	display: grid;
    grid-template-columns: repeat(2, 425px);
    gap: 20px;
    padding: 15px;
}

button[name=blog-detail-info] {
	color: #fff;
    background-color: #5275C1;
    border-radius: 8px;
    border: none;
}

.user-name-space {
	color: #7B61FF;
}