* {
  box-sizing: border-box;
  text-decoration: none;
}

.cmpnjij{
	filter: blur(10px);
}


body {
  color: #333;
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;

  & > .top-menu {
    position: sticky;
    top: 0px;
    display: inline-block;
    z-index: 999;

    & > .top-menu-content {
      display: flex;
      flex-direction: row;
      height: 73px;
      border-bottom: 1px solid #D9D9D9;

      & > .top-menu-left {
        min-width: 290px;
        background-color: #F1F2F7;
        flex-basis: 290px;
        padding: 23px 0 23px 45px;

        & > .main-logo {
          width: 31px;
          height: 27px;
          background-color: #5A67BA;
        }

        & > .brich-title {
          padding-left: 15px;
          font-size: 16px;
          font-weight: bold;
          color: #045d89;

          a:visited {
            color: #045d89;
          }
        }
      }

      & > .top-menu-right {
        display: flex;
        flex-grow: 1;
        background-color: white;
        justify-content: space-between;
        & > .top-menu-search-area {
          max-width: 1200px;
          flex-grow: 1;
          padding: 20px 100px 20px 50px;
          & > .search-input {
            width: 100%;

          }
        }

        & > .top-menu-profile-area {
          flex-basis: 310px;
          padding: 20px 29px 20px 29px;

          & > .menu-profile {
            flex-basis: 32px;
            background-color: #5A67BA;
          }

          & > .menu-profilename {
            color: #5A67BA;
            font-weight: bold;
            flex-grow: 0.5;
            padding: 9px 0 9px 12px;
          }

          & > .menu-alert {
            flex-basis: 41px;
            background-color: #5A67BA;
          }
        }
      }
    }
  }

  & > .application-main {
    display: flex;
    flex-direction: row;

    & > .side-menu {
      min-width: 290px;
      position: sticky;
      top: 73px;
      flex-basis: 290px;
      min-width: 290px;
      /*  세로방향 스크롤 안생김 */
      height: calc(100vh - 73px);
      align-self: flex-start;
      background-color: #F1F2F7;
      z-index: 999;
      .menu-nav {
        padding: 50px 27px 0 45px;

        & > .common-menu {
          margin: 0;
        }
      }

      .menu-content {
        /*하단 메뉴 선택시 배경 색 크기 조정용*/
        & li.other-item {
          width: 218px;
        }
        & > li > a {
          padding-left: 55px;
        }
      }

      .menu-content-my {
        padding: 0 0 0 55px;
      }

      .my-campaign {
        padding-left: 55px;
        cursor : pointer;
        & > .my-sub-menu {
          & > .last-item {
            margin-bottom: 15px;
          }
          & > li > a {
            padding: 0 0 0 38px;
          }
        }
      }

      .common-menu {
        position: relative;
      }

      .others-menu {
        position: absolute;
        top: 512px;
        left: 0px;
      }

      ul {
        padding: 0;
        color: #616161;
      }

      li {
        line-height: 42px;
        display: block;

        a {
          text-decoration: none;
          color: #616161;
        }
      }

      #menu-image {
        padding-left: 18px;
        display: flex;
        gap: 15px;
      }

      #menu-image::before {
        transform: translateY(1.7px);
        content: url("/img/Chart.png")
      }
    }
  }
  

.applied-list { margin-top: 8px; }

.applied-page-nav{
  display:flex; align-items:center; justify-content:center;
  gap:10px; margin-top:10px;
}

.applied-page-nav .applied-prev,
.applied-page-nav .applied-next{
  width:36px; height:36px; border-radius:8px;
  background:#fff; border:1px solid rgba(0,0,0,.08);
  box-shadow:0 1px 2px rgba(0,0,0,.06);
  color:#7f89ff; font-size:18px; line-height:1;
  display:inline-flex; align-items:center; justify-content:center;
  cursor:pointer; transition: box-shadow .18s ease, transform .18s ease;
}
.applied-page-nav .applied-prev:hover,
.applied-page-nav .applied-next:hover{ box-shadow:0 2px 6px rgba(0,0,0,.12); transform: translateY(-1px); }
.applied-page-nav .applied-prev:disabled,
.applied-page-nav .applied-next:disabled{ opacity:.4; cursor:default; transform:none; }

.applied-page-indicator{ font-size:13px; color:#6b7280; }
  
.applied-list .js-applied-items{
  display:flex; flex-direction:column; gap:10px;
}
.applied-list .js-applied-items > a{ display:block; } 
.applied-list .js-applied-items > a,
.applied-list .js-applied-items > a:link,
.applied-list .js-applied-items > a:visited,
.applied-list .js-applied-items > a:hover,
.applied-list .js-applied-items > a:active {
  color: inherit;            
  text-decoration: none;     
}

.applied-list .js-applied-items > a {
  -webkit-tap-highlight-color: transparent;
}

.applied-list .js-applied-items > a:focus {
  outline: none;
}

.cmpn-image1{
	width : 48px;
	height:48px;
	object-fit: cover;
	
}

  .submit-area{
	box-shadow: 1px 1px 1px rgba(0,0,0,.12), 2px 2px 2px rgba(0,0,0,.12), inset 0 1px 0 rgba(0,0,0,.06),inset 1px 0 0 rgba(0,0,0,.06); 
	
  	flex-basis : 50px;
  	min-width: 300px;
  	max-width: 450px;
  	align-items: center;
  	font-size : 16px;
  	font-weight: normal;
  	padding : 5px 15px 5px 15px;
  	border-radius : 4px;
  	
  	.submit-title-area{
  		padding-left: 5px;
  	}
  	.submit-title{
  		font-size : 18px;
  		font-weight: bold;
  	}
  	.submit-lo{
		font-size : 12px;  	
  		color : #2A46A9;
  		font-weight: bold;
  	}
  	.submit-cmpn-image{
  		width: 40px;
  		height:40px;
  	}
  	.submit-stts{
  	flex-grow : 1;
  	text-align : right;
  	color : #C4C93F;
  	font-weight: bold;
  	min-width: 60px;
  	}
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .height-center {
    display: flex;
    align-items: center;
  }
  .middle-center{
    display: flex;
    align-items: center;
    justify-content: center;}

  .text-align {
    text-align: center;
  }
  .display-none{
    display:none;
  }

  .menu-selected {
    background-color: #E9EBF6;
    border-radius: 5px;
    font-weight: bold;
    color: black;

    a {
      color: #0A66DD !important;
    }
  }

  .dashboard-font {
    font-weight: bold;
  }

  .flex-space-between {
    display: flex;
    justify-content: space-between;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .caret-down {
    background-image: url("/img/caret_down.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
  }

  .caret-up {
    background-image: url("/img/caret_up.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
  }

  .display-none {
    display: none;
  }

  .visibility-hidden {
    visibility: hidden;
  }
  .search-input{
    padding : 9px 0 9px 13px;
    background-color: #F6F6FB;
    border:none;
    border-radius : 5px;
    background-image :url("/img/Search.png");
    background-repeat: no-repeat;
    background-position : right 10px bottom 50%;
    background-size: 15px;

    &.menu {
      min-width: 700px;
      max-width: 1100px;
    }
  }
  .search-input:focus {
    outline: none;
  }
  .campaign-now-status-2005, .campaign-now-status-2006{
    color : #AEB400;
    font-weight : bold;
    padding-right:8px;
  }
}

.logout {
  white-space: nowrap;
  color: #616161;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    color: #333;
    transition: 0.1s;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(249, 249, 249);
  }
}

.admin-campaign {
  padding-left: 55px;
}

.menu-admin-header {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}
