
@charset "UTF-8";


.simple-paginator {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.simple-paginator button {
  background-color: #5A6ACF;
  color: #5A6ACF;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #DDE4F0;
  & > img{
  	filter: sepia(100%) saturate(500%) hue-rotate(180deg);
  	}
}
.simple-paginator button:disabled{
	background-color: #FBFCFE;
}

