.regist-side-btn { 
	cursor: pointer;
    &:hover { transform:scale(1.1);
}

}
.regist-btn {
    background-color: #5275c1;
    border: 0;
    cursor: pointer;
    &:hover {
       transform: scale(1.01);
    }
}

.auto-active {
    border: 0px;
    background-color: #cbcbcb;
}

.validate-password-confirm {
    color: #FF0000;
    font-size: 14px;
}
.login-body {
	min-width: 1800px;
	min-height: 500px;
	background-color: #5275C1;
    height: 100vh;
    background-image: url('/img/image13.png');
    background-size: auto 100%; 
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 
}


.login-wrapper {
	position: relative; 
	min-width: 1600px; 
	
    width: 100%;
    height: 100vh;
}

.login-area{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    right: 300px;
    
    
    & > form {
       & > .login-input-box {
           border: 1px solid #fff;
           border-radius: 5px;
           margin-bottom: 15px;
           width: 320px;
           height: 55px;
           display: flex;
           align-items: center;
           justify-content: space-around;
           
           & > img {
               margin-left: 20px;
               width: 25px;
               height: 25px;
           }
           
           & > .login-input {
               background-color: #5275c1;
               border: 0;
               width: 230px;
               height: 50px;
               font-size: 24px;
               line-height: 50px;
               color: #fff;
               &::placeholder {
                  padding-left: 30px;
                  font-size: 20px;
                  font-weight: 100;
                  color: #fff;
                  opacity: 1;
              
               }
               &:focus {
                   outline: none;
                   &::placeholder { 
                      color: transparent; 
                   }
               }
           }
       }
    }
     & .login-button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;        
          
     }
     
}

.signup-btn {
	border: 0;
	padding: 0;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-button {
	font-style: arial;
	text-decoration: none;
    width: 320px;
    height: 45px;
    font-size: 16px;
    font-weight: 500; 
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    color: #2148C0;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    
    
    &:hover {
        transform: scale(1.1);
    }
}

.login-page-btn {
    
    &:hover {
       transform: scale(1.1);
    }
    margin: 10px 0;
    text-decoration: none;
    &:first-of-type {
        color: #fff;
        
    }
    &:nth-of-type(2) {
    
        color: #1B2DA2;
    }
    text-align: center;
}

.find-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 0 auto;
    font-size: 60px;
    font-weight: semi-bold;
    color: #5a6acf;
}
.regist-main.find-id-main {
    margin-top: 100px;
    margin-left: 100px;
    
}

.regist-wrapper.find-wrapper {
    width: 800px;
}

.email-check-timer
, .email-confirm-message
, .email-not-check {
    color: #FF0000;  
    font-size: 14px;
}
.email-confirm {
	height: 22px;
}

.email-not-check {
    text-align: center;
    font-size: 24px;
}

.find-btn {
    padding: 5px 0;
    width: 80%;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    background-color: #5275c1;
    border: 0;
    
    &:hover {
       transform: scale(1.1);
    }
}

.reset-password-btn,
.go-login-btn {
    padding: 5px 0;
    width: 100%;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    background-color: #5275c1;
    border: 0;
    
    &:hover {
       transform: scale(1.01);
    }    
}

.go-login-btn {
    background-color: #A6A6A6;
}

.result-id {
    margin: 130px 0;
    font-weight: semi-bold;
    color: #5a6acf;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.find-id-main.regist-main.result-main {
    margin: 0;
}
.do-reset-btn {
    padding: 5px 0;
    width: 556px;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    background-color: #5275c1;
    border: 0;
    
    &:hover {
       transform: scale(1.01);
    }    

}

.require-mark {
	display: inline-block;
	padding-top: 5px;
	color: red;
	vertical-align: middle;
}

.optional-label {
	margin-top: 10px;
}

.cmpny-name {
	margin-top: 10px;
}

.area-flex {
	display:flex;
	justify-content: space-between;
}

.add-area-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7B61FF;
	color: #fff;
	border-radius: 5px;
	padding: 10px 10px;
	cursor: pointer;
	&:hover {
	   transform: scale(1.1);
	}
}
.selected-area-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.selected-area-list .select-list-item {
	display: flex;
	justify-content: center;
	align-items: center;
    font-weight: 700;
    border-radius: 3px;
    padding: 3px 5px;
    background-color: #E7E9ED;
    font-size: 12px;
}



.add-area-btn:hover {
    transform: scale(1.05);
}
.login-error-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15px;
	line-height: 20px;
	margin-bottom: 20px;
	color: red;
}

.user-regist-form.reset{
	margin-left: 0px;
}
